html,
body {
    margin: 0;
    padding: 0;
    background-color: var(--surface-a10);
    overflow: hidden;
    height: 100vh;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#root {
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex: 1;
}

:root.theme-transition * {
    transition: background-color .5s ease, color .5s ease, border-color .5s ease;
}