.profile-card {
  background-color: var(--surface-a30);
  padding: 32px;
  border-radius: 8px;
  text-align: center;
  color: var(--color-text);
  width: 400px;
  height: 585px;
  max-width: 100%;
  box-sizing: border-box;
  margin: 0 auto;
}

.profile-image {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 16px;
  border: 3px solid var(--surface-a50);
}

.profile-username {
  margin: 0;
  font-size: 26px;
  padding-top: 20px;
}

.profile-major,
.profile-school {
  margin: 8px 0;
  font-size: 18px;
  color: var(--color-text-alt);
}
